#stackPane {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -fx-background-image: url('/views/background.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    color: ghostwhite;
    font-weight: bold;
}

.balance-label, .stake-label, .last-win-label {
    margin: 5px;
    color: white;
    font-size: 16px;
}

.reelsGrid {
    -fx-margin-bottom: 20px; /* Ustawienie marginesu w dół */
}

.button {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
}

#handleStartButton {
    -fx-background-image: url('/views/button_start_normal.png');
}

#handleStartButton:hover {
    -fx-background-image: url('/views/button_start_onhover.png');
}

#handleStartButton:pressed {
    -fx-background-image: url('/views/button_start_onpress.png');
}

#handleStartButton:disabled {
    -fx-background-image: url('/views/button_start_disable.png');
}


#handlePayInButton {
    -fx-background-image: url('/views/button_payin_normal.png');
}

#handlePayInButton:hover {
    -fx-background-image: url('/views/button_payin_onhover.png');
}

#handlePayInButton:pressed {
    -fx-background-image: url('/views/button_payin_onpress.png');
}

#handlePayInButton:disabled {
    -fx-background-image: url('/views/button_payin_disable.png');
}
