#stackPane {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#container {
    -fx-background-image: url('/views/background.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
}

/* Buttons */
#startButton, #payInButton {
    -fx-background-color: transparent; /* Usunięcie tła przycisku */
    -fx-padding: 0; /* Usunięcie wewnętrznego marginesu */
    -fx-background-insets: 0; /* Usunięcie wewnętrznego wypełnienia */
    -fx-border-width: 0; /* Usunięcie obramowania */

}

#startButton:pressed, #payInButton:pressed {
    -fx-background-color: white; /* Zmiana koloru tła po wciśnięciu przycisku */
    -fx-text-fill: black; /* Zmiana koloru tekstu po wciśnięciu przycisku */
}

#startButton:disabled, #payInButton:disabled {
    -fx-opacity: 0.5; /* Zmniejszenie przezroczystości przycisku, jeśli jest wyłączony */
}

/*!* Labels *!*/
/*#balanceLabel, #stakeLabel, #lastWinLabel {*/
/*    -fx-text-fill: white; !* Kolor tekstu *!*/
/*    -fx-font-size: 16px; !* Rozmiar czcionki *!*/
/*}*/

/* Labels */
#balanceLabel {
    -fx-text-fill: white; /* Kolor tekstu */
    -fx-font-size: 16px; /* Rozmiar czcionki */
    -fx-layout-x: 100; /* Pozycja X w pikselach */
    -fx-layout-y: 50; /* Pozycja Y w pikselach */
}

#stakeLabel {
    -fx-text-fill: white; /* Kolor tekstu */
    -fx-font-size: 16px; /* Rozmiar czcionki */
    -fx-layout-x: 150; /* Pozycja X w pikselach */
    -fx-layout-y: 50; /* Pozycja Y w pikselach */
}

#lastWinLabel {
    -fx-text-fill: white; /* Kolor tekstu */
    -fx-font-size: 16px; /* Rozmiar czcionki */
    -fx-layout-x: 200; /* Pozycja X w pikselach */
    -fx-layout-y: 250; /* Pozycja Y w pikselach */
}

/* VBox */
/*.centered-content {*/
/*    -fx-alignment: center; !* Wyśrodkowanie zawartości *!*/
/*}*/
