#mainContainer {
    -fx-spacing: 10px; /* Odstęp między elementami */
    -fx-alignment: center; /* Wyśrodkowanie elementów */
    -fx-background-image: url('/views/background.jpg');
    -fx-background-size: contain; /* Dopasuj obraz do rozmiaru kontenera */
    -fx-background-position: center; /* Wyśrodkuj obraz */
    -fx-background-repeat: no-repeat; /* Wyłącz powtarzanie obrazu */
}

.hbox-container {
    -fx-spacing: 160px; /* Odstęp między etykietami */
    -fx-alignment: center; /* Wyśrodkowanie w poziomie */
}

.balance-label, .stake-label, .last-win-label {
    -fx-font-size: 24px; /* Rozmiar czcionki */
    -fx-font-weight: bold; /* Pogrubienie */
    -fx-text-fill: ghostwhite; /* Kolor tekstu */

}

.balance-label, .stake-label, .last-win-label {
    position: absolute;
    top: 50px;
    left: 20px;
    -fx-font-size: 24px; /* Rozmiar czcionki */
    -fx-font-weight: bold; /* Pogrubienie */
}


/* Dodatkowe przesunięcie dla etykiety balance */
#balanceLabel {
    -fx-translate-x: 70px; /* Przesunięcie w osi X */
}

/* Dodatkowe przesunięcie dla etykiety lastWin */
#lastWinLabel {
    -fx-translate-x: -20px; /* Przesunięcie w osi X */
}

.buttonContainer {
    -fx-spacing: 700px; /* Odstęp między przyciskami */
    -fx-alignment: center; /* Wyśrodkowanie przycisków */
    -fx-hgap: 300px; /* Dodatkowy odstęp między kolumnami */
    -flex-direction: row;
    -fx-margin-right: 80px;
}

.pay-in-button, .start-button {
    -fx-font-size: 160px;
    -fx-padding: 20px 30px; /* Wewnętrzny margines */
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-pref-width: 180px;
    -fx-pref-height: 80px;
}

#handleStartButton {
    -fx-background-image: url('/views/button_start_normal.png');
}

#handleStartButton:hover {
    -fx-background-image: url('/views/button_start_onhover.png');
}

#handleStartButton:pressed {
    -fx-background-image: url('/views/button_start_onpress.png');
}

#handleStartButton:disabled {
    -fx-background-image: url('/views/button_start_disable.png');
}


#handlePayInButton {
    -fx-background-image: url('/views/button_payin_normal.png');
}

#handlePayInButton:hover {
    -fx-background-image: url('/views/button_payin_onhover.png');
}

#handlePayInButton:pressed {
    -fx-background-image: url('/views/button_payin_onpress.png');
}

#handlePayInButton:disabled {
    -fx-background-image: url("/views/button_payin_disable.png");
}

#reelsGrid {
    -fx-alignment: center; /* Wyśrodkowanie symboli */
    -fx-hgap: 100px; /* Dodatkowy odstęp między kolumnami */
    -fx-padding: 265px 0 0 0; /* Odstęp od góry */
}
